*, *::after, *::before{
    padding: 0;
}

#list--container{
    border: 2px solid rgb(113, 23, 197);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none;
    background-color: rgb(56, 178, 226);
    padding: 2.5rem;
}

#list--items{
    text-align: center;
    list-style: none;
    border: 2px solid rgba(255, 0, 0,.6);
    border-radius: 5px;
    padding: .25rem;
    background-color: rgb(17, 163, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#list--data{
    /* border: 2px solid black;  */
    display: grid;
}